body {
  background-color: #ffcb8f;
  font-family: monospace;
  font-size: 16px;
  text-align: center;
  background-image: url(repeat.png);
  background-repeat: repeat-xy; 
}
h1 {
  color: #a4583f;
  text-align: left;
  font-size:20px
}
p {
color: rgba(33, 18, 3, 0.669);
}
a {
color: #d73f0c;
}

.lilbox{
  background-color: #ffdcb4;
  width: 500px;
  font-size: 13px;
  height: auto;
  margin-left: auto;
margin-right: auto;
}
.boxy{
  background-color: #ffc88a;
  width: 500px;
  font-size: 15px;
  height: auto;
  margin-left: auto;
margin-right: auto;
}

.background{
background-color: #ffdcb4;
width: 1000px;
height: auto;
margin-left: auto;
margin-right: auto;
border: 5px solid #ff7f59;
margin-top: 15px;
margin-bottom: 15px;
padding: 25px;
padding-top: 5px;
border-style: dashed;
justify-items: center;

}

.inside{
  display: grid;
width: 900px;
height: auto;
margin-left: auto;
margin-right: auto;
padding-top: 0px;
}

.roy {  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.roy1 { grid-area: 1 / 1 / 2 / 4; margin-right:500px;
margin-top:180px;}

.roy2 { grid-area: 1 / 1 / 2 / 4; 
margin-top:100px;
margin-left:400px;}
.roy3 { grid-area: 1 / 1 / 2 / 4; }

.roy4 { grid-area: 1 / 1 / 2 / 4; margin-top:580px;
margin-right:500px;}

.roy5 { grid-area: 1 / 1 / 2 / 4; 
margin-top:50px;
font-size:25px;}
.roy6 { grid-area: 1 / 1 / 2 / 4; 
margin-top:770px;
font-size:25px;}