body {
  background-color: #019992;
  font-family: monospace;
  font-size: 16px;
  text-align: center;
  background-image: url(repeat.jpg);
  background-repeat: repeat-xy; 
}
h1 {
  color: #a4583f;
  text-align: left;
}
p {
color: rgba(33, 18, 3, 0.669);
}
a {
color: #d73f0c;
}
.background{
background-color: #ffdcb4;
width: 1000px;
height: auto;
margin-left: auto;
margin-right: auto;
border: 5px solid #ff7f59;
margin-top: 15px;
margin-bottom: 15px;
padding: 25px;
padding-top: 5px;
border-style: dashed;
justify-items: center;

}

.inside{
  background-color: #ffffff;
width: 900px;
height: auto;
margin-left: auto;
margin-right: auto;
}

.alone{
  display: grid;
  grid-template-columns: 255px 575px;
  grid-template-rows: 150px 200px 100px;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
}
        
      .alone1 { grid-area: 1 / 1 / 5 / 2; }
      .alone2 { grid-area: 1 / 2 / 2 / 3; }
      .alone3 { grid-area: 2 / 2 / 3 / 3; }
      .alone4 { grid-area: 3 / 2 / 4 / 3; }
      .alone5 { grid-area: 4 / 2 / 5 / 3; }

.biscuit{
  display: grid;
}

.dust{
  display: grid;
}
.poppy{
  display: grid;
} 

.you{
  display: grid;
}

.ditch{
  display: grid;
}

.town{
  display: grid;
}

.poodle{
  display: grid;
}

.places{
  display: grid;
}
