body {
    background-color: rgb(125, 165, 198);
    font-family: monospace;
    font-size: 16px;
    text-align: center;
    background-image: url(repeat.png);
    background-repeat: repeat-xy; 
  }
  h1 {
    color: rgb(0, 59, 127);
    text-align: left;
    font-size:20px
  }
  p {
  color: rgba(33, 18, 3, 0.669);
  }
  a {
  color: #0015ff;
  }
  
  .background{
  background-color: rgb(214, 229, 248);
  width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #304674;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 25px;
  padding-top: 5px;
  border-style: dashed;
  justify-items: center;
  
  }
  
  .inside{
    display: grid;
  width: 900px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  }

  .textbox{
    height: auto;
    width:200px;
    background-color: #ffe3c4;
    padding: 1px;
  }

  .textbox2{
    height: auto;
    width:auto;
    background-color: #ffe3c4;
    padding: 1px;
  }
  .textboxshepherd{
    height: auto;
    width:200px;
    background-color: rgb(169, 206, 255);
    padding: 1px;
  }

  .textboxshepherd2{
    height: auto;
    width:auto;
    background-color: rgb(169, 206, 255);
    padding: 1px;
  }
  .textdream{
    height: auto;
    width:auto;
    background-color: rgb(240, 246, 255);
    padding: 1px;
    opacity: .95;
  }

  .store {  display: grid;
    grid-template-columns: 100px 100px 300px 300px 100px;
    grid-template-rows: 100px 140px 100px 200px 90px 60px 50px 70px 80px 60px 70px 80px 100px 10px 10px 110px;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  .store1 { grid-area: 1 / 1 / 3 / 6; 
  margin-right:auto;}
  
  .store2 { grid-area: 1 / 3 / 2 / 6; 
  margin-left:380px;}
  
.store3 { grid-area: 3 / 1 / 4 / 6;}
  
.store4 { grid-area: 4 / 4 / 5 / 6; }
  
  .store5 { grid-area: 4 / 1 / 17 / 3; 
    margin-top:100px; }
  
  .store6 { grid-area: 4 / 3 / 5 / 4; 
    margin-top:50px; }
  
    .store7 { grid-area: 5 / 4 / 6 / 6; }
  
  .store8 { grid-area: 6 / 4 / 7 / 5; 
  margin-left:70px;}
  
  .store9 { grid-area: 7 / 4 / 8 / 5; margin-left:70px;}
  
  .store10 { grid-area: 8 / 4 / 9 / 6; }
  
  .store11 { grid-area: 9 / 4 / 10 / 5; }
  
  .store12 { grid-area: 10 / 4 / 11 / 5; }
  
  .store13 { grid-area: 11 / 3 / 12 / 6; 
  margin-left:auto;}
  
  .store14 { grid-area: 11 / 2 / 12 / 3; }
  
  .store16 { grid-area: 12 / 1 / 13 / 4; 
  margin-right:80px;}
  .store17 { grid-area: 13 / 1 / 14 / 4;
    margin-right:80px; }
  .store18 { grid-area: 14 / 1 / 15 / 4; font-size:40px;}
  
  
.iask {
  display: grid; 
  grid-template-columns: 100px 200px 200px 300px 100px; 
  grid-template-rows: 170px 80px 200px 100px 50px 70px 10px 80px 80px 10px 10px 100px 110px 100px 100px 100px; 
  gap: 0px 0px; 
}
.iask1 { grid-area: 1 / 1 / 2 / 4; 
margin-top:auto;}
.iask2 { grid-area: 2 / 1 / 3 / 4; }
.iask3 { grid-area: 3 / 1 / 4 / 4; }
.iask4 { grid-area: 1 / 4 / 4 / 6; }
.iask5 { grid-area: 4 / 1 / 10 / 6; }
.iask6 { grid-area: 4 / 1 / 5 / 3; }
.iask7 { grid-area: 5 / 2 / 6 / 4; }
.iask8 { grid-area: 6 / 5 / 7 / 6; }
.iask9 { grid-area: 8 / 3 / 9 / 5; }
.iask10 { grid-area: 10 / 1 / 17 / 4; 
margin-right:auto; margin-top:110px;}
.iask11 { grid-area: 10 / 4 / 17 / 6; }
.iask12 { grid-area: 10 / 2 / 13 / 5; 
  margin-left:10px; margin-right:200px;}


  .dream {
    display: grid; 
    grid-template-columns: 200px 100px 350px 100px 200px; 
    grid-template-rows: 90px 100px 170px 110px 50px 70px 95px 80px 40px 80px 155px 115px 80px 60px 80px 80px 60px 100px 60px 100px 150px; 
    gap: 0px 0px; 
  }
  .dream1 { grid-area: 1 / 1 / 6 / 6; }
  .dream2 { grid-area: 1 / 1 / 2 / 6; }
  .dream3 { grid-area: 2 / 3 / 3 / 6; }
  .dream4 { grid-area: 3 / 1 / 4 / 4; 
  margin-right:auto;}
  .dream5 { grid-area: 4 / 3 / 5 / 6; 
    margin-left:auto;}
  .dream6 { grid-area: 5 / 2 / 6 / 5; }
  .dream7 { grid-area: 6 / 2 / 7 / 5; }
  .dream8 { grid-area: 7 / 1 / 14 / 2; 
    margin-right:auto;}
    .dream9 { grid-area: 7 / 4 / 14 / 6; 
    margin-right:5px;}
  .dream10 { grid-area: 7 / 3 / 8 / 4; }
.dream11 { grid-area: 8 / 3 / 9 / 4; }
.dream12 { grid-area: 9 / 3 / 10 / 4; }
.dream13 { grid-area: 10 / 3 / 11 / 4; }
.dream14 { grid-area: 11 / 3 / 12 / 4; }
.dream15 { grid-area: 12 / 3 / 13 / 4; }
.dream16 { grid-area: 13 / 3 / 14 / 4; }
.dream18 { grid-area: 14 / 3 / 15 / 4; }
.dream19 { grid-area: 15 / 3 / 16 / 4; }
.dream20 { grid-area: 16 / 3 / 17 / 4; }
.dream21 { grid-area: 17 / 3 / 18 / 4; }
.dream22 { grid-area: 18 / 3 / 19 / 4; }
.dream23 { grid-area: 19 / 3 / 20 / 4; }
.dream24 { grid-area: 20 / 3 / 21 / 4; }
.dream26 { grid-area: 14 / 4 / 21 / 6; }
.dream25 { grid-area: 14 / 1 / 21 / 3; }
  .dream27 { grid-area: 21 / 1 / 22 / 2; }
  .dream28 { grid-area: 21 / 5 / 22 / 6; }
  .dream29 { grid-area: 21 / 2 / 22 / 5; }

  .dis {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 300px 1fr; 
    grid-template-rows: 80px 100px 100px 200px 300px; 
    gap: 0px 0px; 
  }
  .dis1 { grid-area: 1 / 1 / 6 / 6; }
  .dis2 { grid-area: 2 / 1 / 3 / 6; 
  margin-left:170px;
  margin-right:130px;}
  .dis3 { grid-area: 4 / 1 / 5 / 6; 
    margin-left:170px;
  margin-right:420px;}
  
  .textdis{
    height: auto;
    width:auto;
    background-color: rgb(240, 246, 255);
    padding: 1px;
    opacity: .95;
  }

  .small {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 300px 1fr; 
    grid-template-rows: 150px 65px 200px 320px 50px 50px; 
    gap: 0px 0px; 
  }
  .small1 { grid-area: 1 / 1 / 4 / 3; }
  .small2 { grid-area: 1 / 3 / 2 / 6; 
  margin-top:70px;
margin-left:120px;}
  .small3 { grid-area: 2 / 3 / 3 / 6; 
    margin-left:120px;}
  .small4 { grid-area: 3 / 3 / 4 / 6; margin-left:120px; }
  .small5 { grid-area: 4 / 1 / 7 / 6; }
  .small6 { grid-area: 5 / 1 / 6 / 6; }

  .pursue {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 300px 1fr;
    grid-template-rows: 60px 100px 120px 200px 100px 300px 200px;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  .pursue1 { grid-area: 1 / 1 / 6 / 6; }
  
  .pursue2 { grid-area: 6 / 1 / 8 / 4; }
  
  .pursue3 { grid-area: 1 / 1 / 2 / 6; 
  margin-right:540px;}
  
  .pursue4 { grid-area: 2 / 1 / 3 / 6; 
    margin-right:580px;
    margin-left:100px;}
  
  .pursue5 { grid-area: 3 / 1 / 4 / 6; 
    margin-left:600px;}
  
  .pursue6 { grid-area: 4 / 1 / 5 / 6;
    margin-right:600px;}
  
  .pursue7 { grid-area: 5 / 1 / 6 / 6; 
    margin-right:150px;
    margin-left:150px;}
  
  .pursue8 { grid-area: 6 / 4 / 7 / 6; 
  margin-top:100px;
font-size:30px; }
  
  .pursue9 { grid-area: 7 / 4 / 8 / 6; 
    font-size:16px;}
  