body {
    background-color: rgb(125, 165, 198);
    font-family: monospace;
    font-size: 16px;
    text-align: center;
    background-image: url(repeat.png);
    background-repeat: repeat-xy; 
  }
  h1 {
    color: rgb(0, 59, 127);
    text-align: left;
    font-size:20px
  }
  p {
  color: rgba(33, 18, 3, 0.669);
  }
  a {
  color: #0015ff;
  }
  
  .background{
  background-color: rgb(214, 229, 248);
  width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #304674;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 25px;
  padding-top: 5px;
  border-style: dashed;
  justify-items: center;
  
  }
  
  .inside{
    display: grid;
  width: 900px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  }

  .textbox{
    height: auto;
    width:200px;
    background-color: #ffe3c4;
    padding: 1px;
  }

  .textbox2{
    height: auto;
    width:auto;
    background-color: #ffe3c4;
    padding: 1px;
  }
  .textboxshepherd{
    height: auto;
    width:200px;
    background-color: rgb(169, 206, 255);
    padding: 1px;
  }

  .textboxshepherd2{
    height: auto;
    width:auto;
    background-color: rgb(169, 206, 255);
    padding: 1px;
  }