body {
    background-color: #c44949;
    font-family: monospace;
    font-size: 16px;
    text-align: center;

    background-image: url(repeat.png);
    background-repeat: repeat-xy; 
  }
  h1 {
    color: #46121f;
    text-align: left;
    font-size:20px
  }
  p {
  color: rgba(33, 18, 3, 0.669);
  }
  a {
  color: #fdf0eb;
  }
  
  .background{
  background-color: #ef8162;
  width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #c2bca2;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 25px;
  padding-top: 5px;
  border-style: dashed;
  justify-items: center;
  
  }
  
  .inside{
    display: grid;
  width: 900px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  }

  .textbox{
    height: auto;
    width:auto;
    background-color: #ffe3c4;
    padding: 1px;
  }

  .textwolf{
    height: auto;
    width:auto;
    background-color: #ef5f52;
    padding: 1px;
  }

  .text{
    height: auto;
    width:auto;
    background-color: #fc9173;
    padding: 1px;
    opacity: .95;
  }