body {
    background-color: #e0aa09;
    font-family: monospace;
    font-size: 16px;
    text-align: center;
    background-image: url(repeat.png);
    background-repeat: repeat-xy; 
  }
  h1 {
    color: #846507;
    text-align: left;
    font-size:20px
  }
  p {
  color: rgba(33, 18, 3, 0.669);
  }
  a {
  color: #ee6604;
  }
  
  .background{
  background-color: #ffd84d;
  width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rgb(129, 79, 5);
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 25px;
  padding-top: 5px;
  border-style: dashed;
  justify-items: center;
  
  }
  
  .inside{
    display: grid;
  width: 900px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  }

  .textbox{
    height: auto;
    width:200px;
    background-color: #ffe3c4;
    padding: 1px;
  }
  .textboxlab{
    height: auto;
    width:200px;
    background-color: rgb(255, 255, 151);
    padding: 1px;
  }